li {
  display: inline;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

li a:hover {
  background-color: #555;
  color: white;
}

h1 {
  text-align: center;
}
li {
  text-align: center;
  border-bottom: 1px solid #555;
}
ul {
  border: 1px solid #555;
}
p {
  text-align: center;
}
h1 {
  text-decoration: underline;
}
img {
  text-align: center;
}

.logo{
	width:800px;
	margin:auto;
}

.nav{
		width:480px;
	margin:auto;
}

.fix{
	clear:both;
}
.image{
		width:750px;
	margin:auto;
}

.form {
	margin: auto;
	width: 250%
}
.form{
		width:140px;
	margin:auto;
}
.img2{
		width:850px;
	margin:auto;
}
a {
	text-align:center;
}
dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}