li {
  display: inline;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

h1 {
  text-align: center;
}
li {
  text-align: center;
  border-bottom: 1px solid #555;
}
ul {
  border: 1px solid #555;
}
p {
  text-align: center;
}
h1 {
  text-decoration: underline;
}
img {
  text-align: center;
}

.logo{
	width:800px;
	margin:auto;
}

.nav{
		width:800px;
	margin:auto;
}

.fix{
	clear:both;
}